.Rooms {
    padding-bottom: 80px;
}

.Rooms .title h6 {
    font-size: 40px;
    line-height: 87%;
    text-align: center;
    margin-bottom: 25px;
}

/* .Rooms .top-portion {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
} */

.top-portion p {
    width: 100%;
    font-size: 22px;
    max-width: 890px;
    font-weight: 300;
    color: #4E4E4E;
    line-height: 34px;
    margin-bottom: 60px;
}

.top-portion .slider {
    margin: auto;
    display: flex;
}

.slider div {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: white;
    position: unset;
    background: #7FC4D3;
}

.swiper {
    position: unset;
    overflow-x: clip !important;
    overflow-y: visible;
}

.swiper .swiper-button-prev, .swiper-button-next {
    width: 50px;
    left: 60rem;
    top: -500px;
    margin: 0 10px;
    color: white;
    padding: 9px 18px;
    position: relative;
    display: inline-block;
    background: #7FC4D3;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 25px;
    font-weight: 600;
}

.swiper-slide .bg-1 {
    width: 100%;
    margin: auto;
    height: 400px;
    max-width: 325px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bg1.png');
}

.swiper-slide .bg-2 {
    width: 100%;
    margin: auto;
    height: 400px;
    max-width: 325px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bg2.png');
}

.swiper-slide .bg-3 {
    width: 100%;
    margin: auto;
    height: 400px;
    max-width: 325px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bg3.png');
}

.swiper .box {
    left: 26px;
    width: 100%;
    height: 73px;
    bottom: 26px;
    opacity: 0.77;
    max-width: 272px;
    padding: 18px 16px;
    position: absolute;
    background: #FFFFFF;
}

.swiper .box h6 {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    line-height: 10px;
    font-style: normal;
    font-family: 'Poppins';
}

.swiper .box .detail {
    display: flex;
    justify-content: space-between;
}

.detail .location {
    font-size: 12px;
    margin-top: 16px;
    font-weight: 400;
    color: #222222;
    line-height: 10px;
    font-style: normal;
    font-family: 'Inter';
}

.detail .price {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
    color: #222222;
    line-height: 13px;
    font-style: normal;
    font-family: 'Inter';
}

/* Media Queries */
@media screen and (max-width: 991px) {
    .Rooms .top-portion {
        margin-bottom: 0px;
    }

    .swiper .swiper-button-prev, .swiper-button-next {
        left: 35rem;
        top: -460px;
    }
}

@media screen and (max-width: 768px) {
    .swiper .swiper-button-prev, .swiper-button-next {
        left: 20rem;
    }
}

@media screen and (max-width: 520px) {
    .Rooms .title h6 {
        font-size: 30px;
    }

    .Rooms .top-portion {
        flex-wrap: wrap;
    }

    .top-portion p {
        font-size: 15px;
        max-width: 330px;
        line-height: 30px;
        margin-bottom: 70px;
    }

    .top-portion .slider {
        margin-bottom: 1rem;
    }

    .swiper .swiper-button-prev, .swiper-button-next {
        left: 10rem;
        width: 40px;
        height: 40px;
        padding: 9px 14px;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 20px;
    }

    .swiper .box {
        left: 12px;
    }
}