@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;600&family=Spectral:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Heading */
h6 {
  color: #2E2E2E;
  font-style: normal;
  font-family: 'Spectral';
}

/* Paragraph */
p {
  color: #2E2E2E;
  font-style: normal;
  font-family: 'Poppins';
}